div.counter{
	background-color: transparent;
	float: left;
}

div.container{
	background-color: transparent;
	width: 500px;
	float: left;
	margin-left: 50px;
}

div.symbol{
	background-color: transparent;
	float: left;
	margin-left: 50px;
}

div.bomb{
	width: 50px;
	height: 50px;
	margin: 2px;
	background-image: url("Assets/bomb_unused.png");
	display: inline-table;
}

div.button{
	width: 50px;
	height: 50px;
	margin: 2px;
	border: 1px solid transparent;
	background-color: #6695e2;
	display: inline-table;
}

div.squid{
	width: 50px;
	height: 50px;
	margin: 2px;
	background-image: url("Assets/squid_symbol.png");
}